# Datasets (large files)
raw_ccpd/
data/
*.zip
*.tar
*.tar.gz
*.tar.xz

# System/IDE files
.DS_Store
.idea/
.vscode/
__pycache__/
*.pyc
.ipynb_checkpoints/

# Run logs
logs/
runs/pose/train/events*
runs/rec/events*
runs/predict/

# Weights (Do NOT upload to GitHub, provide download link instead)
runs/pose/train/weights/
runs/rec/*.pth
runs/rec/*.pt
runs/pose/train/weights/*.pt
*.pt
*.pth

# Specific ignore
.nfs*
